
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("Imagenes/Fiesta.jfif");
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    background-image: url("Imagenes/Bailando_2.0.gif");
    background-size: cover;
    border: 2px solid #d1a83a;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #f00000;
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    color: #000000;
    font-size: 1.2em;
    margin: 10px 0;
    border: #333;
}

.banner {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.gif {
    width: 200px;  
    margin: 20px auto;
    display: block;
    border-radius: 8px;
}

